In [70]:
answer[['Model', 'Dataset', 'Accuracy(Train)','Accuracy(Test)']]

                      Model        Dataset  Accuracy(Train)  Accuracy(Test)
0  Logistic Regression (L1)  Controversial         0.956424        0.955011
1  Logistic Regression (L2)  Controversial         0.956240        0.955280
2               Naive Bayes  Controversial         0.948442        0.940522
0  Logistic Regression (L1)     Categories         0.773859        0.755049
1  Logistic Regression (L2)     Categories         0.781200        0.755900
2               Naive Bayes     Categories         0.755790        0.742740

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import SGDClassifier
import pandas as pd
import json
from pandas.io.json import json_normalize

In [2]:
import nltk

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=101)
classifier = someClassifier()
model = classifier.fit(X_train, y_train)
test_pred = model.predict(X_test)
train_predictions = model.predict(X_train)
accuracy_test = accuracy_score(X_test, test_pred)
accuracy_train = accuracy_score(X_train, train_predictions)

In [3]:
json_path = 'C:\\Users\\Dan Siegel\\Desktop\\Classes\\550\\data\\reddit\\categorized-comments.jsonl'

In [4]:
data = []
with open(json_path) as f:
    for line in f:
        data.append(json.loads(line))

In [5]:
df = pd.DataFrame.from_dict(json_normalize(data), orient='columns')

In [6]:
df.columns

Index(['cat', 'txt'], dtype='object')

In [7]:
controversial_json_path = 'C:\\Users\\Dan Siegel\\Desktop\\Classes\\550\\data\\reddit\\controversial-comments.jsonl'

In [8]:
controversial = []
with open(controversial_json_path) as f:
    for line in f:
        controversial.append(json.loads(line))
controversial_df = pd.DataFrame.from_dict(json_normalize(controversial), orient='columns')

In [9]:
df.groupby('cat').describe()

                            txt
                          count  unique        top   freq
cat
news                     408311  352654  [removed]  30175
science_and_technology   158246  125709  [removed]  24037
sports                   775199  707520  [deleted]  34861
video_games             1005720  921865  [deleted]  31662

In [10]:
controversial_df.groupby('con').describe()

        txt
      count  unique        top   freq
con
0    908145  802980  [deleted]  42997
1     41855   38794  [deleted]   2159

In [11]:
import string
from nltk.corpus import stopwords

In [12]:
from sklearn.feature_extraction.text import CountVectorizer

In [1]:
count_vect = CountVectorizer()

NameError: name 'CountVectorizer' is not defined

In [14]:
X_train_counts = count_vect.fit_transform(controversial_df.txt)

In [15]:
class Modeler_training:
    def __init__(self, features, target, dataset_lab):
        self.X_train, self.X_test, self.y_train, self.y_test = train_test_split(features, 
                        target, test_size=0.25, random_state=101)
        self.dataLabel = dataset_lab
        self.results = []
        self.log_penl()
        self.log_pen2()
        self.nb_model()
    def log_penl(self):
        classifier = LogisticRegression(penalty='l1')
        res = self.model_creatror(classifier, 'Logistic Regression (L1)')
    def log_pen2(self):
        classifier = LogisticRegression(penalty='l2')
        res = self.model_creatror(classifier, 'Logistic Regression (L2)')
    def nb_model(self):
        classifier = MultinomialNB()
        res = self.model_creatror(classifier, 'Naive Bayes')
    def model_creatror(self, classifier_to_fit, model):
        mod = classifier_to_fit.fit(self.X_train, self.y_train)
        test_pred = mod.predict(self.X_test)
        train_pred = mod.predict(self.X_train)
        accuracy_test = accuracy_score(self.y_test, test_pred)
        accuracy_train = accuracy_score(self.y_train, train_pred)
        mod_acc = {'Model': model, 'Dataset': self.dataLabel, 'Accuracy(Train)':accuracy_train, 'Accuracy(Test)':accuracy_test}
        self.results.append(mod_acc)
    def ret_results(self):
        return(self.results)

In [16]:
fdf = Modeler_training(X_train_counts, controversial_df.con, 'Controversial')

In [17]:
all_results = []
all_results.append(fdf.ret_results())

In [18]:
count_vect = CountVectorizer()
X_train_counts_cat = count_vect.fit_transform(df.txt)

In [44]:
cats = Modeler_training(X_train_counts_cat, df.cat, 'Categories')

In [45]:
all_results.append(cats.ret_results())

In [65]:
df1 = pd.DataFrame.from_dict(all_results[0])
df2 = pd.DataFrame.from_dict(all_results[1])
answer = pd.concat([df1,df2])

In [69]:
answer[['Model', 'Dataset', 'Accuracy(Train)','Accuracy(Test)']]

                      Model        Dataset  Accuracy(Train)  Accuracy(Test)
0  Logistic Regression (L1)  Controversial         0.956424        0.955011
1  Logistic Regression (L2)  Controversial         0.956240        0.955280
2               Naive Bayes  Controversial         0.948442        0.940522
0  Logistic Regression (L1)     Categories         0.773859        0.755049
1  Logistic Regression (L2)     Categories         0.781200        0.755900
2               Naive Bayes     Categories         0.755790        0.742740

ImportError: cannot import name 'maxint'